<% content_for :body_content_title do %>
  <%= @question.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @question.title %>
    </p>
  </section>
  <section>
    <h1>Start Date</h1>
    <p>
      <%=raw @question.start_date %>
    </p>
  </section>
  <section>
    <h1>End Date</h1>
    <p>
      <%=raw @question.end_date %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="questions">
      <% @questions.each do |poll| %>
        <li>
          <%= link_to question.title, refinery.polls_question_path(question) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
