<% content_for :stylesheets, stylesheet_link_tag('refinery/polls/polls') %>
<% content_for :body_content_title do %>
  <%= @question.title %>
<% end %>

<% content_for :body_content_left do %>
  <div class="refinery-polls">
    <ul>
      <li>Title: <%=raw @question.title %></li>
      <li>Start: <%=l(@question.start_date, :format => :short) %></li>
      <li>End: <%=l(@question.end_date, :format => :short) %></li>
      <li>Votes:   <%=pluralize(@question.total_votes, "vote") %></li>
    <ul>
  </div>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="questions">
      <% @questions.each do |question| %>
        <li>
          <%= link_to question.title, refinery.polls_question_path(question) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
