<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(answer) -%>">
  <span class='title'>
    <%= answer.title %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_polls_admin_question_answer_path(answer.question, answer),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.polls_admin_question_answer_path(answer.question, answer),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => answer.title),
        :method => :delete %>
  </span>
</li>
